body{
    background-color:#EEEBDD;
}
h1 {
    color: #630000;
    font-size: 50px;
    padding: 20px;
    text-align: center;
    font-family:Georgia, 'Times New Roman', Times, serif;
    background-color:#D8B6A4;
    border-style: ridge;
}
p {
    text-align: center;
    font-size: 20px;
    color:#630000;
}
img{ 
    width: 311px;
    height: 400px;
    opacity: 0.5;
}
img:hover{
opacity: 1.0;
}
